<div class="container">
	<img src="/assets/football-players-home.jpg" alt="Best football players" class="img-rounded img-responsive" >

	<hr>

	<div class="features">
		<div class="col-sm-4">
			<i class="icon-large icon-search"></i>
			<img src="/assets/invite-friends.png" alt="Invite friends icon" class="img-rounded img-responsive" >
			<h3><strong>Invite Friends</strong></h3>
			<p>You can search for friends throughout the world, near or distant people, invite them to join as friends. You can see when and where they play football and follow their encounters throughout their lives</p>
		</div>
		<div class="col-sm-4">
			<img src="/assets/organize-match.png" alt="Organize match icon" class="img-rounded img-responsive" >
			<h3><strong>Organize Matches</strong></h3>
			<p>You can create events relating to football matches, with their corresponding dates and times. Then you can invite your best friends to participate in such events, so each must decide whether or not to attend</p>
		</div>
		<div class="col-sm-4">
			<img src="/assets/create-tournament.png" alt="Create tournament icon" class="img-rounded img-responsive" >
			<h3><strong>Create Tournaments</strong></h3>
			<p>You can create soccer tournaments, inviting other teams to participate in it. Then you can keep track of games played, the information of each game and the remaining games to play.</p>
		</div>
	</div>

	<hr>


</div>